* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #474747;
    justify-content: center;
    margin: 15px;
}

nav input {
    display: inline-block;
    text-align: center;
	text-transform: uppercase; 
    font-weight: bold;
    font-size: 16px;
    min-width: 40px;
	position: relative;
	padding: 7px 80px;
	margin: 10px 0px;
	font-weight: 550;
	transition: 0.5s;
    border: 2px solid;
    color: black;
}

nav input:hover {
    cursor: pointer;
    background-color: aqua;
    border-color: rgb(231, 247, 245);
    color: rgb(255, 255, 255);
    transition: 1.0s;

}

tr{
    color: greenyellow;
}

.voltar {
    float: right;
}

.retornar {
    float: right;
}

.tabela {
    background-color: rgb(145, 141, 141);/* achei lindona a cor -> #aa3333 */
    border: 1.1px solid rgb(219,219,219);
    width: 100%;
    margin-right: 50px;
    font-weight: 500;
}

.arquivo tr {
    align-items: left;
    justify-content: left;
    color: rgb(78, 102, 167);
    background-color: #dbdada;
    
}

.arquivo td{
    text-align: center;
    padding: 15px 15px 15px 5px;
}

.tabela td h4{
    text-align: left;
}

.link_arq {
    color: rgb(63, 63, 63);
    transition: 0.5s;
}

.link_arq:hover {
    color:rgb(95, 201, 201);
    transition: 0.7s;
    
}

.nome_coluna{
    font-weight: bold;
    text-align: center;
}

.download {
    display: inline-block;
    text-align: center;
	text-transform: uppercase; 
    font-weight: bold;
    font-size: 16px;
    min-width: 40px;
	position: relative;
	padding: 7px 80px;
	margin: 10px 0px;
	font-weight: 550;
	transition: 0.5s;
    border: 2px solid;
    color: black;
}

.leitura {
    display: inline-block;
    text-align: center;
	text-transform: uppercase; 
    font-weight: bold;
    font-size: 16px;
    min-width: 40px;
	position: relative;
	padding: 7px 80px;
	margin: 10px 0px;
	font-weight: 550;
	transition: 0.5s;
    border: 2px solid;
    color: black;
}

@media screen and (max-width: 960px){
    #redim {
        position: relative;
        width: 100%;
    }
}


@media screen and (max-width: 768px){
    * {
        font-size: 12px;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    .tabela thead{
        display: none;
    }
    .tabela tbody td {
        text-align: left;
        display: flex;
        flex-direction: column; 
        width: 50%;
        color:rgb(11, 66, 92);
    }
    nav input {
        position: relative;
        width: 100%;
    }
}